* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Color,style text token */
:root {
  --color-text: #5b61b2;
  --bg-color: #dec1db;
  --text-mono: "Pixelify Sans", sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #a8adff;
    --bg-color: #1a1020;
    --text-mono: "Pixelify Sans", sans-serif;
  }
}

/* * Bases */
body {
  font-family: var(--text-mono);
  font-weight: 500;
  color: var(--color-text);
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

/* *header*/
header {
  margin-bottom: 2rem;
}
header h1 {
  font-family: "Tiny5", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: clamp(3rem, 10vw, 6rem);
  text-transform: uppercase;
  line-height: 2;
  letter-spacing: -0.01em;
  position: relative;
}
main {
  width: 100%;
  max-width: 640px;
}

/* *button */
button {
  flex-direction: row;
  font-family: var(--text-mono);
  color: var(--color-text);
  background: #ffcfcf;
  background: radial-gradient(
    circle,
    rgba(255, 207, 207, 1) 26%,
    rgba(173, 214, 255, 1) 100%
  );
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem;
}
